/* @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";
@plugin "daisyui";


/* heading font */
/* .font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

/* body font 1*/
/* .font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

/* body font 2 */
.font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* logo font */
/* .font-parisienne {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
} */

*{
    font-family: "Poppins";
}


:root{
    --color-primary: #1B4965 ;
    --color-secondary: #CAE9FF;
    --color-accent: #2563eb;
}

:dark{
    --color-primary: #1B4965 ;
    --color-secondary: #CAE9FF;
    --color-accent: #f97316;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.nav.active{
    @apply text-blue-600 font-bold;
}


