@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@import "tailwindcss";
@plugin "daisyui";




.font-parisienne {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}
